<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
    <link href="/jspm_packages/github/twbs/bootstrap@3.3.5/css/bootstrap.min.css" rel="stylesheet" />

    <link th:href="@{/css/all.css}" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />

</head>
<body>
<header id="header">
    <div class="container">

    </div>
</header>

<div layout:fragment="content">

</div>

<footer id="footer">
    <div class="container">
        <div class="col-sm-3">
            &copy;
        </div>
        <div class="col-sm-5 pull-right">

        </div>
    </div>
</footer>
<div layout:fragment="scripts_footer">

</div>
</body>
</html>
